In [11]:
import pandas as pd
import numpy as np

## WTI

In [12]:
df = pd.read_excel("Stationary Data/WTI.xlsx") 
df

,DATE,MCOILWTICO,MCOILWTICO_LAG,EMVOVERALLEMV,EUEPUINDXM,GACDISA066MSFRBNY,TB3MS,INFECTDISEMVTRACK,PNICKUSDM,COV19,RUWAR
0,2001-10-01,-0.167019,-0.043688,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
1,2001-11-01,-0.121172,-0.167019,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2,2001-12-01,-0.012811,-0.121172,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
3,2002-01-01,0.016876,-0.012811,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
4,2002-02-01,0.049466,0.016876,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...,...
260,2023-06-01,-0.018755,-0.104312,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
261,2023-07-01,0.079594,-0.018755,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
262,2023-08-01,0.067598,0.079594,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
263,2023-09-01,0.094204,0.067598,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
264,2023-10-01,-0.043304,0.094204,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [13]:
df.rename(columns = {'MCOILWTICO':'WTI'}, inplace = True) 
df.rename(columns = {'MCOILWTICO_LAG':'WTI_LAG'}, inplace = True) 

df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'EUEPUINDXM':'Economic Policy Uncertainty Europe'}, inplace = True) 
df.rename(columns = {'GACDISA066MSFRBNY':'NY Business Conditions'}, inplace = True)
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 
df.rename(columns = {'PNICKUSDM':'Nickel'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,WTI,WTI_LAG,Equity Market Volatility,Economic Policy Uncertainty Europe,NY Business Conditions,3 Month Treasury Bill,Infectious Disease Tracker,Nickel,COV19,RUWAR
DATE,,,,,,,,,,
2001-10-01,-0.167019,-0.043688,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
2001-11-01,-0.121172,-0.167019,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2001-12-01,-0.012811,-0.121172,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
2002-01-01,0.016876,-0.012811,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
2002-02-01,0.049466,0.016876,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-01,-0.018755,-0.104312,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
2023-07-01,0.079594,-0.018755,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
2023-08-01,0.067598,0.079594,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
2023-09-01,0.094204,0.067598,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
2023-10-01,-0.043304,0.094204,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [14]:
df.to_excel("Renamed Columns Stationary Data/WTI.xlsx", index=True)
print("DataFrame saved")

DataFrame saved

## EUNG

In [5]:
df = pd.read_excel("Stationary Data/EUNG.xlsx") 
df

,DATE,PNGASEUUSDM,PNGASEUUSDM_LAG,EMVOVERALLEMV,EUEPUINDXM,GACDISA066MSFRBNY,TB3MS,INFECTDISEMVTRACK,PNICKUSDM,COV19,RUWAR
0,2001-10-01,-0.154151,0.000000,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
1,2001-11-01,0.000000,-0.154151,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2,2001-12-01,-0.006192,0.000000,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
3,2002-01-01,-0.143340,-0.006192,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
4,2002-02-01,0.000000,-0.143340,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...,...
260,2023-06-01,0.031592,-0.316354,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
261,2023-07-01,-0.068368,0.031592,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
262,2023-08-01,0.109307,-0.068368,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
263,2023-09-01,0.064130,0.109307,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
264,2023-10-01,0.158267,0.064130,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [6]:
df.rename(columns = {'PNGASEUUSDM':'EUNG'}, inplace = True) 
df.rename(columns = {'PNGASEUUSDM_LAG':'EUNG_LAG'}, inplace = True) 

df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'EUEPUINDXM':'Economic Policy Uncertainty Europe'}, inplace = True) 
df.rename(columns = {'GACDISA066MSFRBNY':'NY Business Conditions'}, inplace = True)
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 
df.rename(columns = {'PNICKUSDM':'Nickel'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,EUNG,EUNG_LAG,Equity Market Volatility,Economic Policy Uncertainty Europe,NY Business Conditions,3 Month Treasury Bill,Infectious Disease Tracker,Nickel,COV19,RUWAR
DATE,,,,,,,,,,
2001-10-01,-0.154151,0.000000,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
2001-11-01,0.000000,-0.154151,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2001-12-01,-0.006192,0.000000,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
2002-01-01,-0.143340,-0.006192,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
2002-02-01,0.000000,-0.143340,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-01,0.031592,-0.316354,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
2023-07-01,-0.068368,0.031592,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
2023-08-01,0.109307,-0.068368,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
2023-09-01,0.064130,0.109307,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
2023-10-01,0.158267,0.064130,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [7]:
df.to_excel("Renamed Columns Stationary Data/EUNG.xlsx", index=True)
print("DataFrame saved")

DataFrame saved

## ASIALNG

In [8]:
df = pd.read_excel("Stationary Data/ASIALNG.xlsx") 
df

,DATE,PNGASJPUSDM,PNGASJPUSDM_LAG,EMVOVERALLEMV,EUEPUINDXM,GACDISA066MSFRBNY,TB3MS,INFECTDISEMVTRACK,PNICKUSDM,COV19,RUWAR
0,2001-10-01,0.004310,-0.021368,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
1,2001-11-01,-0.163152,0.004310,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2,2001-12-01,-0.070803,-0.163152,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
3,2002-01-01,-0.030347,-0.070803,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
4,2002-02-01,0.019418,-0.030347,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...,...
260,2023-06-01,0.020990,-0.193205,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
261,2023-07-01,0.073401,0.020990,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
262,2023-08-01,0.076927,0.073401,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
263,2023-09-01,0.112569,0.076927,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
264,2023-10-01,0.150777,0.112569,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [9]:
df.rename(columns = {'PNGASJPUSDM':'ASIALNG'}, inplace = True) 
df.rename(columns = {'PNGASJPUSDM_LAG':'ASIALNG_LAG'}, inplace = True) 

df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'EUEPUINDXM':'Economic Policy Uncertainty Europe'}, inplace = True) 
df.rename(columns = {'GACDISA066MSFRBNY':'NY Business Conditions'}, inplace = True)
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 
df.rename(columns = {'PNICKUSDM':'Nickel'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,ASIALNG,ASIALNG_LAG,Equity Market Volatility,Economic Policy Uncertainty Europe,NY Business Conditions,3 Month Treasury Bill,Infectious Disease Tracker,Nickel,COV19,RUWAR
DATE,,,,,,,,,,
2001-10-01,0.004310,-0.021368,22.46,141.35,-4.5,-0.72,0.39,-0.088497,0,0
2001-11-01,-0.163152,0.004310,-13.09,-10.39,-2.2,-0.48,-0.06,-0.045894,0,0
2001-12-01,-0.070803,-0.163152,-2.94,-39.39,-6.8,-0.29,0.09,0.060355,0,0
2002-01-01,-0.030347,-0.070803,-2.04,-53.76,11.7,-0.18,-0.39,0.035324,0,0
2002-02-01,0.019418,-0.030347,4.29,-5.87,11.2,-0.04,0.29,0.131247,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-01,0.020990,-0.193205,2.93,21.28,-42.6,0.22,2.32,-0.071308,1,1
2023-07-01,0.073401,0.020990,-5.14,-18.30,38.4,0.02,-2.45,-0.041580,1,1
2023-08-01,0.076927,0.073401,-0.72,16.36,-5.5,0.09,-0.81,-0.006711,1,1
2023-09-01,0.112569,0.076927,-0.83,24.39,-20.1,0.05,-0.58,-0.031054,1,1
2023-10-01,0.150777,0.112569,2.30,-11.96,20.9,0.02,-0.26,-0.040000,1,1

In [10]:
df.to_excel("Renamed Columns Stationary Data/ASIALNG.xlsx", index=True)
print("DataFrame saved")

DataFrame saved