In [1]:
import pandas as pd
import numpy as np

## WTI

In [2]:
df = pd.read_excel("Stationary Data/WTI.xlsx") 
df

,DATE,POILWTIUSDQ,POILWTIUSDQ_LAG1,POILWTIUSDQ_LAG2,POILWTIUSDQ_LAG3,POILWTIUSDQ_LAG4,GDP,EMVOVERALLEMV,TB3MS,INFECTDISEMVTRACK,COV19,RUWAR
0,1996-07-01,0.028554,0.095448,0.084944,0.016658,-0.077023,0.020675,-4.19,0.09,-0.196710,0,0
1,1996-10-01,0.099040,0.028554,0.095448,0.084944,0.016658,0.012196,1.94,0.08,0.083382,0,0
2,1997-01-01,-0.080447,0.099040,0.028554,0.095448,0.084944,0.015662,-0.40,-0.12,-0.446287,0,0
3,1997-04-01,-0.135538,-0.080447,0.099040,0.028554,0.095448,0.012380,2.70,0.08,0.782759,0,0
4,1997-07-01,-0.006551,-0.135538,-0.080447,0.099040,0.028554,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
104,2022-07-01,-0.153171,0.141561,0.198614,0.091224,0.068518,0.020373,-0.43,0.77,-0.083527,1,1
105,2022-10-01,-0.121634,-0.153171,0.141561,0.198614,0.091224,0.017477,-3.25,1.58,-0.269102,1,1
106,2023-01-01,-0.081122,-0.121634,-0.153171,0.141561,0.198614,0.015792,1.58,1.38,0.005921,1,1
107,2023-04-01,-0.033490,-0.081122,-0.121634,-0.153171,0.141561,0.015227,3.28,0.59,-0.029960,1,1
108,2023-07-01,0.108301,-0.033490,-0.081122,-0.121634,-0.153171,0.009259,-2.09,0.44,-0.079739,1,1

In [3]:
df.rename(columns = {'POILWTIUSDQ':'WTI'}, inplace = True) 
df.rename(columns = {'POILWTIUSDQ_LAG1':'WTI_LAG1'}, inplace = True) 
df.rename(columns = {'POILWTIUSDQ_LAG2':'WTI_LAG2'}, inplace = True) 
df.rename(columns = {'POILWTIUSDQ_LAG3':'WTI_LAG3'}, inplace = True) 
df.rename(columns = {'POILWTIUSDQ_LAG4':'WTI_LAG4'}, inplace = True) 

df.rename(columns = {'GDP':'USAGDP'}, inplace = True) 
df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,WTI,WTI_LAG1,WTI_LAG2,WTI_LAG3,WTI_LAG4,USAGDP,Equity Market Volatility,3 Month Treasury Bill,Infectious Disease Tracker,COV19,RUWAR
DATE,,,,,,,,,,,
1996-07-01,0.028554,0.095448,0.084944,0.016658,-0.077023,0.020675,-4.19,0.09,-0.196710,0,0
1996-10-01,0.099040,0.028554,0.095448,0.084944,0.016658,0.012196,1.94,0.08,0.083382,0,0
1997-01-01,-0.080447,0.099040,0.028554,0.095448,0.084944,0.015662,-0.40,-0.12,-0.446287,0,0
1997-04-01,-0.135538,-0.080447,0.099040,0.028554,0.095448,0.012380,2.70,0.08,0.782759,0,0
1997-07-01,-0.006551,-0.135538,-0.080447,0.099040,0.028554,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,-0.153171,0.141561,0.198614,0.091224,0.068518,0.020373,-0.43,0.77,-0.083527,1,1
2022-10-01,-0.121634,-0.153171,0.141561,0.198614,0.091224,0.017477,-3.25,1.58,-0.269102,1,1
2023-01-01,-0.081122,-0.121634,-0.153171,0.141561,0.198614,0.015792,1.58,1.38,0.005921,1,1
2023-04-01,-0.033490,-0.081122,-0.121634,-0.153171,0.141561,0.015227,3.28,0.59,-0.029960,1,1
2023-07-01,0.108301,-0.033490,-0.081122,-0.121634,-0.153171,0.009259,-2.09,0.44,-0.079739,1,1

In [4]:
df.to_excel("Renamed Columns Stationary Data/WTI.xlsx", index=True)
print("DataFrame saved")

DataFrame saved

## EUNG

In [5]:
df = pd.read_excel("Stationary Data/EUNG.xlsx") 
df

,DATE,PNGASEUUSDQ,PNGASEUUSDQ_LAG1,PNGASEUUSDQ_LAG2,PNGASEUUSDQ_LAG3,PNGASEUUSDQ_LAG4,GDP,EMVOVERALLEMV,TB3MS,INFECTDISEMVTRACK,COV19,RUWAR
0,1996-07-01,0.000000,0.003724,-0.018485,-0.014546,0.029306,0.020675,-4.19,0.09,-0.196710,0,0
1,1996-10-01,0.088868,0.000000,0.003724,-0.018485,-0.014546,0.012196,1.94,0.08,0.083382,0,0
2,1997-01-01,-0.013699,0.088868,0.000000,0.003724,-0.018485,0.015662,-0.40,-0.12,-0.446287,0,0
3,1997-04-01,-0.060409,-0.013699,0.088868,0.000000,0.003724,0.012380,2.70,0.08,0.782759,0,0
4,1997-07-01,-0.048790,-0.060409,-0.013699,0.088868,0.000000,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
104,2022-07-01,0.646442,-0.044776,0.021344,0.636412,0.631536,0.020373,-0.43,0.77,-0.083527,1,1
105,2022-10-01,-0.730063,0.646442,-0.044776,0.021344,0.636412,0.017477,-3.25,1.58,-0.269102,1,1
106,2023-01-01,-0.520405,-0.730063,0.646442,-0.044776,0.021344,0.015792,1.58,1.38,0.005921,1,1
107,2023-04-01,-0.396592,-0.520405,-0.730063,0.646442,-0.044776,0.015227,3.28,0.59,-0.029960,1,1
108,2023-07-01,-0.066661,-0.396592,-0.520405,-0.730063,0.646442,0.009259,-2.09,0.44,-0.079739,1,1

In [6]:
df.rename(columns = {'PNGASEUUSDQ':'EUNG'}, inplace = True) 
df.rename(columns = {'PNGASEUUSDQ_LAG1':'EUNG_LAG1'}, inplace = True) 
df.rename(columns = {'PNGASEUUSDQ_LAG2':'EUNG_LAG2'}, inplace = True) 
df.rename(columns = {'PNGASEUUSDQ_LAG3':'EUNG_LAG3'}, inplace = True) 
df.rename(columns = {'PNGASEUUSDQ_LAG4':'EUNG_LAG4'}, inplace = True) 

df.rename(columns = {'GDP':'USAGDP'}, inplace = True) 
df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,EUNG,EUNG_LAG1,EUNG_LAG2,EUNG_LAG3,EUNG_LAG4,USAGDP,Equity Market Volatility,3 Month Treasury Bill,Infectious Disease Tracker,COV19,RUWAR
DATE,,,,,,,,,,,
1996-07-01,0.000000,0.003724,-0.018485,-0.014546,0.029306,0.020675,-4.19,0.09,-0.196710,0,0
1996-10-01,0.088868,0.000000,0.003724,-0.018485,-0.014546,0.012196,1.94,0.08,0.083382,0,0
1997-01-01,-0.013699,0.088868,0.000000,0.003724,-0.018485,0.015662,-0.40,-0.12,-0.446287,0,0
1997-04-01,-0.060409,-0.013699,0.088868,0.000000,0.003724,0.012380,2.70,0.08,0.782759,0,0
1997-07-01,-0.048790,-0.060409,-0.013699,0.088868,0.000000,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.646442,-0.044776,0.021344,0.636412,0.631536,0.020373,-0.43,0.77,-0.083527,1,1
2022-10-01,-0.730063,0.646442,-0.044776,0.021344,0.636412,0.017477,-3.25,1.58,-0.269102,1,1
2023-01-01,-0.520405,-0.730063,0.646442,-0.044776,0.021344,0.015792,1.58,1.38,0.005921,1,1
2023-04-01,-0.396592,-0.520405,-0.730063,0.646442,-0.044776,0.015227,3.28,0.59,-0.029960,1,1
2023-07-01,-0.066661,-0.396592,-0.520405,-0.730063,0.646442,0.009259,-2.09,0.44,-0.079739,1,1

In [7]:
df.to_excel("Renamed Columns Stationary Data/EUNG.xlsx", index=True)
print("DataFrame saved")

DataFrame saved

## ASIALNG

In [8]:
df = pd.read_excel("Stationary Data/ASIALNG.xlsx") 
df

,DATE,PNGASJPUSDQ,PNGASJPUSDQ_LAG1,PNGASJPUSDQ_LAG2,PNGASJPUSDQ_LAG3,PNGASJPUSDQ_LAG4,GDP,EMVOVERALLEMV,TB3MS,INFECTDISEMVTRACK,COV19,RUWAR
0,1996-07-01,0.002621,0.023906,0.081163,0.000000,-0.099806,0.020675,-4.19,0.09,-0.196710,0,0
1,1996-10-01,0.109019,0.002621,0.023906,0.081163,0.000000,0.012196,1.94,0.08,0.083382,0,0
2,1997-01-01,0.002345,0.109019,0.002621,0.023906,0.081163,0.015662,-0.40,-0.12,-0.446287,0,0
3,1997-04-01,-0.143281,0.002345,0.109019,0.002621,0.023906,0.012380,2.70,0.08,0.782759,0,0
4,1997-07-01,-0.061301,-0.143281,0.002345,0.109019,0.002621,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
104,2022-07-01,0.553581,-0.148651,-0.112020,0.644932,0.604677,0.020373,-0.43,0.77,-0.083527,1,1
105,2022-10-01,-0.491094,0.553581,-0.148651,-0.112020,0.644932,0.017477,-3.25,1.58,-0.269102,1,1
106,2023-01-01,-0.538396,-0.491094,0.553581,-0.148651,-0.112020,0.015792,1.58,1.38,0.005921,1,1
107,2023-04-01,-0.446175,-0.538396,-0.491094,0.553581,-0.148651,0.015227,3.28,0.59,-0.029960,1,1
108,2023-07-01,0.111620,-0.446175,-0.538396,-0.491094,0.553581,0.009259,-2.09,0.44,-0.079739,1,1

In [9]:
df.rename(columns = {'PNGASJPUSDQ':'ASIALNG'}, inplace = True) 
df.rename(columns = {'PNGASJPUSDQ_LAG1':'ASIALNG_LAG1'}, inplace = True) 
df.rename(columns = {'PNGASJPUSDQ_LAG2':'ASIALNG_LAG2'}, inplace = True) 
df.rename(columns = {'PNGASJPUSDQ_LAG3':'ASIALNG_LAG3'}, inplace = True) 
df.rename(columns = {'PNGASJPUSDQ_LAG4':'ASIALNG_LAG4'}, inplace = True) 

df.rename(columns = {'GDP':'USAGDP'}, inplace = True) 
df.rename(columns = {'EMVOVERALLEMV':'Equity Market Volatility'}, inplace = True) 
df.rename(columns = {'TB3MS':'3 Month Treasury Bill'}, inplace = True) 
df.rename(columns = {'INFECTDISEMVTRACK':'Infectious Disease Tracker'}, inplace = True) 

df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)
df

,ASIALNG,ASIALNG_LAG1,ASIALNG_LAG2,ASIALNG_LAG3,ASIALNG_LAG4,USAGDP,Equity Market Volatility,3 Month Treasury Bill,Infectious Disease Tracker,COV19,RUWAR
DATE,,,,,,,,,,,
1996-07-01,0.002621,0.023906,0.081163,0.000000,-0.099806,0.020675,-4.19,0.09,-0.196710,0,0
1996-10-01,0.109019,0.002621,0.023906,0.081163,0.000000,0.012196,1.94,0.08,0.083382,0,0
1997-01-01,0.002345,0.109019,0.002621,0.023906,0.081163,0.015662,-0.40,-0.12,-0.446287,0,0
1997-04-01,-0.143281,0.002345,0.109019,0.002621,0.023906,0.012380,2.70,0.08,0.782759,0,0
1997-07-01,-0.061301,-0.143281,0.002345,0.109019,0.002621,0.018502,-0.41,-0.01,0.041964,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.553581,-0.148651,-0.112020,0.644932,0.604677,0.020373,-0.43,0.77,-0.083527,1,1
2022-10-01,-0.491094,0.553581,-0.148651,-0.112020,0.644932,0.017477,-3.25,1.58,-0.269102,1,1
2023-01-01,-0.538396,-0.491094,0.553581,-0.148651,-0.112020,0.015792,1.58,1.38,0.005921,1,1
2023-04-01,-0.446175,-0.538396,-0.491094,0.553581,-0.148651,0.015227,3.28,0.59,-0.029960,1,1
2023-07-01,0.111620,-0.446175,-0.538396,-0.491094,0.553581,0.009259,-2.09,0.44,-0.079739,1,1

In [10]:
df.to_excel("Renamed Columns Stationary Data/ASIALNG.xlsx", index=True)
print("DataFrame saved")

DataFrame saved